In [2]:
!pip install -q ipython-sql

In [3]:
import pandas as pd
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('SQLiteExercise.db')

# file path to the CSV file
csv_fpath = r'C:\Users\User\Desktop\Npower\activity\course 6\activity6\indian_startup_funding.csv'

# Load the CSV file into a pandas DataFrame
df_fpath = pd.read_csv(csv_fpath)

# Write DataFrame to SQLite database
df_fpath.to_sql('indian_startup_funding', conn, if_exists='replace', index=False)

# Close connection
conn.close()

In [4]:
%load_ext sql

In [5]:
%sql sqlite:///SQLiteExercise.db

In [10]:
%%sql
--1. Write SQL query to sum all the funding AmountinUSD, where City location equals “Bengaluru”
SELECT 
    SUM(Amount_in_USD) AS TotalFunding
FROM indian_startup_funding
WHERE City_Location = 'Bengaluru';

 * sqlite:///SQLiteExercise.db
Done.

[(5314247300.0,)]

In [11]:
%%sql
--2. Write SQL query to sort the table by startup name DESC
SELECT
    *
FROM indian_startup_funding
ORDER BY Startup_Name DESC;

 * sqlite:///SQLiteExercise.db
Done.

[('2019-11-11', 'eBikeGo', 'Last Mile Transportation', 'Amritsar', 300000.0),
 ('2019-02-08', 'Zilingo', 'Ecommerce', 'India/Singapore', 226000000.0),
 ('2019-05-02', 'Zenoti', 'Saas', 'Hyderabad', 50000000.0),
 ('2019-08-23', 'Zendrive', 'Automotive', 'San Francisco', 37000000.0),
 ('2019-07-01', 'WizCounsel', 'Compliance', 'New Delhi', 145000.0),
 ('2019-01-04', 'Vyome Therapeutics Inc.', 'Health and Wellness', 'India/US', 22000000.0),
 ('2019-09-03', 'Vyapar App', 'Accounting', 'Bengaluru', 5000000.0),
 ('2019-06-08', 'Vogo Automotive Pvt. Ltd.', 'Transportation', 'Karnataka', 3584000.0),
 ('2019-11-15', 'Vogo Automotive', 'Last Mile Transportation', 'Kormangala', 283000000.0),
 ('2019-08-13', 'Uniphore', 'Customer Service Platform', 'Palo Alto', 51000000.0),
 ('2019-07-01', 'Uniphore', 'Artificial Intelligence', 'Taramani', 38080000.0),
 ('2019-04-10', 'Unacademy', 'Edtech', 'Bengaluru', 307000.0),
 ('2019-10-02', 'Udaan', 'B2B', 'Bengaluru', 585000000.0),
 ('2019-04-13', 'Tripoto', 'Social Media', 'New Delhi', 3591375.0),
 ('2019-12-14', 'Trell', 'Video', 'Bengaluru', 2000000.0),
 ('2019-04-10', 'Toppr', 'Edtech', 'Mumbai', 6320820.0),
 ('2019-10-21', 'The Man Company', 'Consumer Goods', 'Gurgaon', None),
 ('2019-08-23', 'Tala', 'FinTech', 'Santa Monica', 110000000.0),
 ('2019-11-12', 'SuperGaming', 'Video Games', 'Pune', 1300000.0),
 ('2019-11-13', 'Sunstone Eduversity Pvt. Ltd', 'Education', 'Gurgaon', 1500000.0),
 ('2019-05-05', 'StyleDotMe', 'E-commerce', 'Delhi', None),
 ('2019-06-06', 'Sistema.bio', 'Agriculture', 'Nairobi', 2739034.75),
 ('2019-04-17', 'Shuttl', 'Transportation', 'Gurugram', 5000000.0),
 ('2019-04-11', 'Setu', 'Fintech', 'Bengaluru', 3500000.0),
 ('2019-01-04', 'Samunnati Financial Intermediation & Services Pvt. Ltd', 'Finance', 'Chennai', 5000000.0),
 ('2019-05-06', 'Saahas Zero Waste', 'Waste Management Service', 'Bengaluru', 868600.0),
 ('2019-12-13', 'Rivigo', 'Technology', 'Gurgaon', 20000000.0),
 ('2019-07-02', 'RenewBuy', 'Finance', 'Gurgaon', 19000000.0),
 ('2019-12-11', 'Rein Games', 'Gaming', 'Noida', 50000000.0),
 ('2019-06-04', 'Recykal', 'Waste Management Service', 'Hyderabad', 26000000.0),
 ('2019-08-27', 'Rapido Bike Taxi', 'Transportation', 'Bengaluru', 3900000000.0),
 ('2019-08-01', 'Progcap', 'Finance', 'New Delhi', 5000000.0),
 ('2019-06-06', 'Pratilipi', 'Digital Media', 'Bengaluru', 15109500.0),
 ('2019-08-01', 'Pine Labs', 'Information Technology', 'Noida', 38080000.0),
 ('2019-11-25', 'Paytm', 'FinTech', 'Noida', 1000000000.0),
 ('2019-05-06', 'Ola Electric', 'Transport', 'Bengaluru', None),
 ('2019-07-03', 'Ola Cabs', 'Transport', 'Kormangala', 1000000.0),
 ('2019-06-10', 'OkCredit', 'FinTech', 'Haryana', 15500000.0),
 ('2019-06-05', 'NoBroker', 'E-Commerce', 'Bengaluru', 51000000.0),
 ('2019-11-15', 'Ninjacart', 'B2B Marketing', 'Bengaluru', 26000000.0),
 ('2019-02-13', 'NanoClean Global', 'Nanotechnology', 'New Delhi', 600000.0),
 ('2019-09-04', 'Myelin Foundry', 'Information Technology', 'Bengaluru', 1000000.0),
 ('2019-08-01', 'MyPetrolPump', 'Retail', 'Bengaluru', 1600000.0),
 ('2019-04-19', 'My Healthcare', 'E-commerce', 'Bengaluru and Gurugram', 3000000.0),
 ('2019-07-11', 'Moglix', 'E-Commerce', 'Singapore', 60000000.0),
 ('2019-11-14', 'Misters', 'Health and wellness', 'Gurgaon', 486000.0),
 ('2019-08-19', 'Mishry Reviews', 'Services', 'Gurgaon', None),
 ('2019-08-12', 'Meesho', 'E-Commerce', 'Bengaluru', 125000000.0),
 ('2019-04-12', 'Medlife', 'E-commerce', 'Bengaluru', 17000000.0),
 ('2019-11-18', 'Medikabazaar', 'Healthcare', 'Mumbai', 15800000.0),
 ('2019-08-23', 'Lo! Foods', 'Consumer Goods', 'Bengaluru', 500000.0),
 ('2019-12-16', 'Licious', 'E-Commerce', 'Bengaluru', 30000000.0),
 ('2019-12-20', 'Lenskart.com', 'E-Commerce', 'Faridabad', 231000000.0),
 ('2019-06-04', 'Leegality', 'Services', 'Mumbai/Bengaluru', 3400000.0),
 ('2019-04-16', 'Kuvera', 'Finance', 'Bengaluru', 45000000.0),
 ('2019-04-19', 'KrazyBee', 'E-commerce', 'Bengaluru', 14342000.0),
 ('2019-04-10', 'Kabadiwala', 'E-commerce', 'Bhopal', 430665.0),
 ('2019-07-10', 'Indus OS', 'Tech', 'Andheri', 5750000.0),
 ('2019-04-17', 'Increff', 'Technology', 'Bengaluru', 3000000.0),
 ('2019-12-16', 'InCred', 'Finance', 'Mumbai', 5900000.0),
 ('2019-08-22', 'INDwealth', 'FinTech', 'Gurgaon', 15000000.0),
 ('2019-08-21', 'HungerBox', 'Food and Beverage', 'Bengaluru', 6590000.0),
 ('2019-07-09', 'House of Msasaba', 'Luxury Label', 'Mumbai', 1000000.0),
 ('2019-12-17', 'Healthians', 'B2B-focused foodtech startup', 'Bengaluru', 12000000.0),
 ('2019-11-18', 'Healthians', 'Health and Wellness', 'Gurgaon', 12000000.0),
 ('2019-07-10', 'HealthAssure', 'Health Care', 'Mumbai', 2500000.0),
 ('2019-08-19', 'Grofers', 'E-Commerce', 'Gurgaon', 70000000.0),
 ('2019-05-30', 'GlowRoad', 'E-commerce', 'Bengaluru', 11500000.0),
 ('2019-09-04', 'GOQii', 'Health and Wellness', 'Menlo Park', 450000000.0),
 ('2019-11-19', 'Furtados School of Music', 'Education', 'Tulangan', 200000000.0),
 ('2019-11-13', 'Freshworks', 'Software', 'San Francisco', 150000000.0),
 ('2019-05-28', 'FreshVnF', 'Agtech', 'Mumbai', 140000000.0),
 ('2019-02-01', 'FleetX', 'AI', 'Gurgaon', None),
 ('2019-06-03', 'FabHotels', 'E-Commerce', 'Gurgaon', 4889975.5),
 ('2019-09-05', 'FPL Technologies', 'FinTech', 'Pune', 4500000.0),
 ('2019-07-10', 'Ezyhaul', 'Tech', 'Singapore', 16000000.0),
 ('2019-12-12', 'Ecozen', 'Technology', 'Pune', 6000000.0),
 ('2019-10-04', 'Dunzo', 'Customer Service', 'Bengaluru', 45000000.0),
 ('2019-11-19', 'Digital Mall Asia', 'E-Commerce', 'Delhi', 220000000.0),
 ('2019-09-04', 'Digital F5', '"Advertising, Marketing"', 'Mumbai', 6000000.0),
 ('2019-12-03', 'Dhruva Space', 'Aerospace', 'Bengaluru', 50000000.0),
 ('2019-07-04', 'Daalchini Technologies', 'Food and Beverage', 'New Delhi', 500000.0),
 ('2019-04-10', 'Craftsvilla', 'E-commerce', 'Mumbai', 2443495.0),
 ('2019-11-20', 'Clumio', 'SaaS', '"San Jose,"', 135000000.0),
 ('2019-04-11', 'CleverTap', 'SaaS', 'Mumbai', 26000000.0),
 ('2019-06-06', 'Chakr Innovation', 'Energy', 'New Delhi', 26000000.0),
 ('2019-09-04', 'Cashflo', 'FinTech', 'Mumbai', 3300000.0),
 ('2019-08-13', 'Cars24', 'E-Commerce', 'Gurugram', 11000000.0),
 ('2019-12-06', 'CarDekho', 'E-Commerce', 'Gurgaon', 70000000.0),
 ('2019-08-01', 'CarDekho', 'E-Commerce', 'Gurgaon', 20000000.0),
 ('2019-01-03', 'CarDekho', 'Automobile', 'Jaipur', 110000000.0),
 ('2019-11-17', 'Burger Singh', 'Food and Beverage', 'Gurgaon', None),
 ('2019-06-10', 'Bolo App', 'Digital Media', 'Bengaluru', 430200.0),
 ('2019-07-08', 'Board Infinity', 'EdTech', 'Chembur', 319605.0),
 ('2019-05-01', 'BlackBuck', 'Transport', 'Bengaluru', 150000000.0),
 ('2020-06-06', 'Biz2Credit', 'FinTech', 'New York', 52000000.0),
 ('2019-06-04', 'Bira91', 'Food and Beverage', 'New Delhi', 10000000.0),
 ('2019-05-31', 'Bira91', 'Food and Beverage', 'New Delhi', 5600000.0),
 ('2019-06-04', 'BharatPe', 'Finance', 'New Delhi', 75000000.0),
 ('2019-04-12', 'Azah', 'Health and Wellness', 'Gurugram', 200000.0),
 ('2019-11-20', 'Aye Finance', 'FinTech', 'Gurgaon', 17411264.0),
 ('2019-06-03', 'Avail Finance', 'Finance', 'Bengaluru', 9000000.0),
 ('2019-09-04', 'Atomberg Technology', 'Consumer Technology', 'Mumbai', 10000000.0),
 ('2019-07-02', 'Atlan', 'Information Technology', 'Singapore', 2500000.0),
 ('2019-05-28', 'Ather Energy', 'Automobile', 'Bengaluru', 51000000.0),
 ('2019-08-01', 'Alteria Capital', 'Finance', 'Mumbai', 140000000.0),
 ('2019-06-03', 'Agara Labs', 'Deep-Tech', 'Bengaluru', 2500000.0),
 ('2019-08-23', 'AdmitKard', 'EdTech', 'Noida', 1000000.0),
 ('2019-09-04', '75F', 'IoT', 'Burnsville', 18000000.0),
 ('2019-09-04', '3rdFlix', 'SaaS', 'Hyderabad', 5000000.0),
 ('2019-07-10', '"""BYJU\\\\\'S"""', 'EdTech', 'Bengaluru', 150000000.0)]

In [12]:
%%sql
--3. Write SQL query to sum all the funding AmountinUSD, where City location equals “Bengaluru” and AmountinUSD>380000
SELECT 
    SUM(Amount_in_USD) AS TotalFunding
FROM indian_startup_funding
WHERE City_Location = 'Bengaluru' 
AND Amount_in_USD > 380000;

 * sqlite:///SQLiteExercise.db
Done.

[(5313940300.0,)]

In [13]:
%%sql
--4. Write SQL query to get all CityLocations that has an AmountinUSD >380000
SELECT
    City_Location
FROM indian_startup_funding
WHERE Amount_in_USD > 380000;

 * sqlite:///SQLiteExercise.db
Done.

[('Faridabad',),
 ('Bengaluru',),
 ('Bengaluru',),
 ('Mumbai',),
 ('Bengaluru',),
 ('Gurgaon',),
 ('Pune',),
 ('Noida',),
 ('Gurgaon',),
 ('Bengaluru',),
 ('Noida',),
 ('Gurgaon',),
 ('"San Jose,"',),
 ('Delhi',),
 ('Tulangan',),
 ('Gurgaon',),
 ('Mumbai',),
 ('Bengaluru',),
 ('Kormangala',),
 ('Gurgaon',),
 ('San Francisco',),
 ('Gurgaon',),
 ('Pune',),
 ('Bengaluru',),
 ('Bengaluru',),
 ('Pune',),
 ('Mumbai',),
 ('Mumbai',),
 ('Hyderabad',),
 ('Burnsville',),
 ('Bengaluru',),
 ('Mumbai',),
 ('Menlo Park',),
 ('Bengaluru',),
 ('Bengaluru',),
 ('San Francisco',),
 ('Bengaluru',),
 ('Santa Monica',),
 ('Noida',),
 ('Gurgaon',),
 ('Bengaluru',),
 ('Gurgaon',),
 ('Gurugram',),
 ('Palo Alto',),
 ('Bengaluru',),
 ('Gurgaon',),
 ('New Delhi',),
 ('Bengaluru',),
 ('Mumbai',),
 ('Noida',),
 ('Singapore',),
 ('Bengaluru',),
 ('Singapore',),
 ('Andheri',),
 ('Mumbai',),
 ('Mumbai',),
 ('New Delhi',),
 ('Kormangala',),
 ('Gurgaon',),
 ('Singapore',),
 ('Taramani',),
 ('Bengaluru',),
 ('Haryana',),
 ('Karnataka',),
 ('Nairobi',),
 ('New Delhi',),
 ('Bengaluru',),
 ('New York',),
 ('Bengaluru',),
 ('New Delhi',),
 ('New Delhi',),
 ('Hyderabad',),
 ('Mumbai/Bengaluru',),
 ('Gurgaon',),
 ('Bengaluru',),
 ('Bengaluru',),
 ('New Delhi',),
 ('Bengaluru',),
 ('Bengaluru',),
 ('Mumbai',),
 ('Bengaluru',),
 ('Hyderabad',),
 ('Bengaluru',),
 ('Bengaluru and Gurugram',),
 ('Bengaluru',),
 ('Gurugram',),
 ('Bengaluru',),
 ('Bengaluru',),
 ('New Delhi',),
 ('Bengaluru',),
 ('Bengaluru',),
 ('Mumbai',),
 ('Bhopal',),
 ('Mumbai',),
 ('Mumbai',),
 ('New Delhi',),
 ('India/Singapore',),
 ('India/US',),
 ('Chennai',),
 ('Jaipur',)]

In [14]:
%%sql
--5. Write SQL query to get only unique CityLocations that has an AmountinUSD >380000
SELECT DISTINCT
    City_Location    
FROM indian_startup_funding
WHERE Amount_in_USD > 380000;

 * sqlite:///SQLiteExercise.db
Done.

[('Faridabad',),
 ('Bengaluru',),
 ('Mumbai',),
 ('Gurgaon',),
 ('Pune',),
 ('Noida',),
 ('"San Jose,"',),
 ('Delhi',),
 ('Tulangan',),
 ('Kormangala',),
 ('San Francisco',),
 ('Hyderabad',),
 ('Burnsville',),
 ('Menlo Park',),
 ('Santa Monica',),
 ('Gurugram',),
 ('Palo Alto',),
 ('New Delhi',),
 ('Singapore',),
 ('Andheri',),
 ('Taramani',),
 ('Haryana',),
 ('Karnataka',),
 ('Nairobi',),
 ('New York',),
 ('Mumbai/Bengaluru',),
 ('Bengaluru and Gurugram',),
 ('Bhopal',),
 ('India/Singapore',),
 ('India/US',),
 ('Chennai',),
 ('Jaipur',)]

In [15]:
%%sql
--6. Write SQL query to get all StartupNames where AmountinUSD<380000
SELECT
    Startup_Name    
FROM indian_startup_funding
WHERE Amount_in_USD < 380000;

 * sqlite:///SQLiteExercise.db
Done.

[('eBikeGo',), ('Board Infinity',), ('WizCounsel',), ('Azah',), ('Unacademy',)]

In [16]:
%%sql
--7. Write SQL query to sort the output from the previous question DESC
SELECT
    Startup_Name    
FROM indian_startup_funding
WHERE Amount_in_USD < 380000
ORDER BY Startup_Name DESC;

 * sqlite:///SQLiteExercise.db
Done.

[('eBikeGo',), ('WizCounsel',), ('Unacademy',), ('Board Infinity',), ('Azah',)]

In [17]:
%%sql
--8. Write SQL query to get the City location that has the maximum funding amount “Note that is the data is not cleaned properly you will get non logical result”
SELECT
    City_Location,
    MAX(Amount_in_USD) AS MaxFunding
FROM indian_startup_funding
WHERE Amount_in_USD IS NOT NULL;

 * sqlite:///SQLiteExercise.db
Done.

[('Bengaluru', 3900000000.0)]

In [18]:
%%sql
--9. Write SQL query to get the total funding AmountinUSD for each IndustryVertical
SELECT
    Industry_Vertical,
    SUM(Amount_in_USD) AS TotalFunding
FROM indian_startup_funding
WHERE Amount_in_USD IS NOT NULL
GROUP BY Industry_Vertical;

 * sqlite:///SQLiteExercise.db
Done.

[('"Advertising, Marketing"', 6000000.0),
 ('Accounting', 5000000.0),
 ('Aerospace', 50000000.0),
 ('Agriculture', 2739034.75),
 ('Agtech', 140000000.0),
 ('Artificial Intelligence', 38080000.0),
 ('Automobile', 161000000.0),
 ('Automotive', 37000000.0),
 ('B2B', 585000000.0),
 ('B2B Marketing', 26000000.0),
 ('B2B-focused foodtech startup', 12000000.0),
 ('Compliance', 145000.0),
 ('Consumer Goods', 500000.0),
 ('Consumer Technology', 10000000.0),
 ('Customer Service', 45000000.0),
 ('Customer Service Platform', 51000000.0),
 ('Deep-Tech', 2500000.0),
 ('Digital Media', 15539700.0),
 ('E-Commerce', 892889975.5),
 ('E-commerce', 48716160.0),
 ('Ecommerce', 226000000.0),
 ('EdTech', 151319605.0),
 ('Edtech', 6627820.0),
 ('Education', 201500000.0),
 ('Energy', 26000000.0),
 ('FinTech', 1217711264.0),
 ('Finance', 303900000.0),
 ('Fintech', 3500000.0),
 ('Food and Beverage', 22690000.0),
 ('Gaming', 50000000.0),
 ('Health Care', 2500000.0),
 ('Health and Wellness', 484200000.0),
 ('Health and wellness', 486000.0),
 ('Healthcare', 15800000.0),
 ('Information Technology', 41580000.0),
 ('IoT', 18000000.0),
 ('Last Mile Transportation', 283300000.0),
 ('Luxury Label', 1000000.0),
 ('Nanotechnology', 600000.0),
 ('Retail', 1600000.0),
 ('SaaS', 166000000.0),
 ('Saas', 50000000.0),
 ('Services', 3400000.0),
 ('Social Media', 3591375.0),
 ('Software', 150000000.0),
 ('Tech', 21750000.0),
 ('Technology', 29000000.0),
 ('Transport', 151000000.0),
 ('Transportation', 3908584000.0),
 ('Video', 2000000.0),
 ('Video Games', 1300000.0),
 ('Waste Management Service', 26868600.0)]

In [19]:
%%sql
--10. Write SQL query to get the total funding AmountinUSD for each IndustryVertical that starts with letter “A”
SELECT
    Industry_Vertical,
    SUM(Amount_in_USD) AS TotalFunding
FROM indian_startup_funding
WHERE Amount_in_USD IS NOT NULL 
    AND Industry_Vertical LIKE 'A%'
GROUP BY Industry_Vertical;

 * sqlite:///SQLiteExercise.db
Done.

[('Accounting', 5000000.0),
 ('Aerospace', 50000000.0),
 ('Agriculture', 2739034.75),
 ('Agtech', 140000000.0),
 ('Artificial Intelligence', 38080000.0),
 ('Automobile', 161000000.0),
 ('Automotive', 37000000.0)]

In [20]:
%%sql
--11. Write SQL query to get the total funding AmountinUSD for each IndustryVertical that starts with letter “A” and sort the output DESC by the total AmountinUSD
SELECT
    Industry_Vertical,
    SUM(Amount_in_USD) AS TotalFunding
FROM indian_startup_funding
WHERE Amount_in_USD IS NOT NULL 
    AND Industry_Vertical LIKE 'A%'
GROUP BY Industry_Vertical
ORDER BY SUM(Amount_in_USD) DESC;

 * sqlite:///SQLiteExercise.db
Done.

[('Automobile', 161000000.0),
 ('Agtech', 140000000.0),
 ('Aerospace', 50000000.0),
 ('Artificial Intelligence', 38080000.0),
 ('Automotive', 37000000.0),
 ('Accounting', 5000000.0),
 ('Agriculture', 2739034.75)]

In [21]:
%%sql
--12. Write SQL query to count all the start_ups in the Education field
SELECT
    COUNT(*) AS StartUpsEdu
FROM indian_startup_funding
WHERE Industry_Vertical = 'Education';

 * sqlite:///SQLiteExercise.db
Done.

[(2,)]

In [22]:
%%sql
--13. Write SQL query to count all the start_Ups in the E-Commerce field
SELECT
    COUNT(*) AS StartUpsECom
FROM indian_startup_funding
WHERE Industry_Vertical = 'E-Commerce';

 * sqlite:///SQLiteExercise.db
Done.

[(11,)]

In [23]:
%%sql
--14. Write SQL query to count all the start_Ups in the E-Commerce field, where city location equals “Bengaluru”
SELECT
    COUNT(*) AS StartUpsEComInBengaluru
FROM indian_startup_funding
WHERE Industry_Vertical = 'E-Commerce'
    AND City_Location = 'Bengaluru';

 * sqlite:///SQLiteExercise.db
Done.

[(3,)]

In [24]:
%%sql
--15. For each Industry Vertical find the total funding amount
SELECT
    Industry_Vertical,
    SUM(Amount_in_USD) AS TotalFunding
FROM indian_startup_funding
WHERE Amount_in_USD IS NOT NULL
GROUP BY Industry_Vertical;

 * sqlite:///SQLiteExercise.db
Done.

[('"Advertising, Marketing"', 6000000.0),
 ('Accounting', 5000000.0),
 ('Aerospace', 50000000.0),
 ('Agriculture', 2739034.75),
 ('Agtech', 140000000.0),
 ('Artificial Intelligence', 38080000.0),
 ('Automobile', 161000000.0),
 ('Automotive', 37000000.0),
 ('B2B', 585000000.0),
 ('B2B Marketing', 26000000.0),
 ('B2B-focused foodtech startup', 12000000.0),
 ('Compliance', 145000.0),
 ('Consumer Goods', 500000.0),
 ('Consumer Technology', 10000000.0),
 ('Customer Service', 45000000.0),
 ('Customer Service Platform', 51000000.0),
 ('Deep-Tech', 2500000.0),
 ('Digital Media', 15539700.0),
 ('E-Commerce', 892889975.5),
 ('E-commerce', 48716160.0),
 ('Ecommerce', 226000000.0),
 ('EdTech', 151319605.0),
 ('Edtech', 6627820.0),
 ('Education', 201500000.0),
 ('Energy', 26000000.0),
 ('FinTech', 1217711264.0),
 ('Finance', 303900000.0),
 ('Fintech', 3500000.0),
 ('Food and Beverage', 22690000.0),
 ('Gaming', 50000000.0),
 ('Health Care', 2500000.0),
 ('Health and Wellness', 484200000.0),
 ('Health and wellness', 486000.0),
 ('Healthcare', 15800000.0),
 ('Information Technology', 41580000.0),
 ('IoT', 18000000.0),
 ('Last Mile Transportation', 283300000.0),
 ('Luxury Label', 1000000.0),
 ('Nanotechnology', 600000.0),
 ('Retail', 1600000.0),
 ('SaaS', 166000000.0),
 ('Saas', 50000000.0),
 ('Services', 3400000.0),
 ('Social Media', 3591375.0),
 ('Software', 150000000.0),
 ('Tech', 21750000.0),
 ('Technology', 29000000.0),
 ('Transport', 151000000.0),
 ('Transportation', 3908584000.0),
 ('Video', 2000000.0),
 ('Video Games', 1300000.0),
 ('Waste Management Service', 26868600.0)]

In [25]:
%%sql
--16. For each Industry Vertical find the total funding amount as “Total_fund” and the average
--funding amount as “Avg_Fund”. In this question provide two answer 1- using group by Industry 
--Vertical, 2- using sub_queries
SELECT 
    Industry_Vertical,
    SUM(Amount_in_USD) AS Total_fund,
    AVG(Amount_in_USD) AS Avg_fund
FROM indian_startup_funding
WHERE Amount_in_USD IS NOT NULL
GROUP BY Industry_Vertical;

SELECT 
    f2.Industry_Vertical,
    (SELECT SUM(f1.Amount_in_USD) 
     FROM indian_startup_funding f1 
     WHERE f1.Industry_Vertical = f2.Industry_Vertical) AS Total_Fund,
    (SELECT AVG(f1.Amount_in_USD) 
     FROM indian_startup_funding f1 
     WHERE f1.Industry_Vertical = f2.Industry_Vertical) AS Avg_Fund
FROM indian_startup_funding f2
WHERE f2.Amount_in_USD IS NOT NULL
GROUP BY f2.Industry_Vertical;

 * sqlite:///SQLiteExercise.db
Done.
Done.

[('"Advertising, Marketing"', 6000000.0, 6000000.0),
 ('Accounting', 5000000.0, 5000000.0),
 ('Aerospace', 50000000.0, 50000000.0),
 ('Agriculture', 2739034.75, 2739034.75),
 ('Agtech', 140000000.0, 140000000.0),
 ('Artificial Intelligence', 38080000.0, 38080000.0),
 ('Automobile', 161000000.0, 80500000.0),
 ('Automotive', 37000000.0, 37000000.0),
 ('B2B', 585000000.0, 585000000.0),
 ('B2B Marketing', 26000000.0, 26000000.0),
 ('B2B-focused foodtech startup', 12000000.0, 12000000.0),
 ('Compliance', 145000.0, 145000.0),
 ('Consumer Goods', 500000.0, 500000.0),
 ('Consumer Technology', 10000000.0, 10000000.0),
 ('Customer Service', 45000000.0, 45000000.0),
 ('Customer Service Platform', 51000000.0, 51000000.0),
 ('Deep-Tech', 2500000.0, 2500000.0),
 ('Digital Media', 15539700.0, 7769850.0),
 ('E-Commerce', 892889975.5, 81171815.95454545),
 ('E-commerce', 48716160.0, 8119360.0),
 ('Ecommerce', 226000000.0, 226000000.0),
 ('EdTech', 151319605.0, 50439868.333333336),
 ('Edtech', 6627820.0, 3313910.0),
 ('Education', 201500000.0, 100750000.0),
 ('Energy', 26000000.0, 26000000.0),
 ('FinTech', 1217711264.0, 152213908.0),
 ('Finance', 303900000.0, 37987500.0),
 ('Fintech', 3500000.0, 3500000.0),
 ('Food and Beverage', 22690000.0, 5672500.0),
 ('Gaming', 50000000.0, 50000000.0),
 ('Health Care', 2500000.0, 2500000.0),
 ('Health and Wellness', 484200000.0, 121050000.0),
 ('Health and wellness', 486000.0, 486000.0),
 ('Healthcare', 15800000.0, 15800000.0),
 ('Information Technology', 41580000.0, 13860000.0),
 ('IoT', 18000000.0, 18000000.0),
 ('Last Mile Transportation', 283300000.0, 141650000.0),
 ('Luxury Label', 1000000.0, 1000000.0),
 ('Nanotechnology', 600000.0, 600000.0),
 ('Retail', 1600000.0, 1600000.0),
 ('SaaS', 166000000.0, 55333333.333333336),
 ('Saas', 50000000.0, 50000000.0),
 ('Services', 3400000.0, 3400000.0),
 ('Social Media', 3591375.0, 3591375.0),
 ('Software', 150000000.0, 150000000.0),
 ('Tech', 21750000.0, 10875000.0),
 ('Technology', 29000000.0, 9666666.666666666),
 ('Transport', 151000000.0, 75500000.0),
 ('Transportation', 3908584000.0, 1302861333.3333333),
 ('Video', 2000000.0, 2000000.0),
 ('Video Games', 1300000.0, 1300000.0),
 ('Waste Management Service', 26868600.0, 13434300.0)]

In [26]:
%%sql
--17. Write SQL query to get the minimum value of funding for the “Uniphore” start_up
SELECT
    MIN(Amount_in_USD) AS MinFunding
FROM indian_startup_funding
WHERE Startup_Name = 'Uniphore'
    AND Amount_in_USD IS NOT NULL;

 * sqlite:///SQLiteExercise.db
Done.

[(38080000.0,)]

In [27]:
%%sql
--18. Write SQL query to get the length of the city location names 
SELECT
    City_Location,
    LENGTH(City_Location) AS CityNameLength
FROM indian_startup_funding;

 * sqlite:///SQLiteExercise.db
Done.

[('Faridabad', 9),
 ('Bengaluru', 9),
 ('Bengaluru', 9),
 ('Mumbai', 6),
 ('Bengaluru', 9),
 ('Gurgaon', 7),
 ('Pune', 4),
 ('Noida', 5),
 ('Gurgaon', 7),
 ('Bengaluru', 9),
 ('Noida', 5),
 ('Gurgaon', 7),
 ('"San Jose,"', 11),
 ('Delhi', 5),
 ('Tulangan', 8),
 ('Gurgaon', 7),
 ('Mumbai', 6),
 ('Gurgaon', 7),
 ('Bengaluru', 9),
 ('Kormangala', 10),
 ('Gurgaon', 7),
 ('San Francisco', 13),
 ('Gurgaon', 7),
 ('Pune', 4),
 ('Amritsar', 8),
 ('Gurgaon', 7),
 ('Bengaluru', 9),
 ('Bengaluru', 9),
 ('Pune', 4),
 ('Mumbai', 6),
 ('Mumbai', 6),
 ('Hyderabad', 9),
 ('Burnsville', 10),
 ('Bengaluru', 9),
 ('Mumbai', 6),
 ('Menlo Park', 10),
 ('Bengaluru', 9),
 ('Bengaluru', 9),
 ('San Francisco', 13),
 ('Bengaluru', 9),
 ('Santa Monica', 12),
 ('Noida', 5),
 ('Gurgaon', 7),
 ('Bengaluru', 9),
 ('Gurgaon', 7),
 ('Gurgaon', 7),
 ('Gurugram', 8),
 ('Palo Alto', 9),
 ('Bengaluru', 9),
 ('Gurgaon', 7),
 ('New Delhi', 9),
 ('Bengaluru', 9),
 ('Mumbai', 6),
 ('Noida', 5),
 ('Singapore', 9),
 ('Bengaluru', 9),
 ('Singapore', 9),
 ('Andheri', 7),
 ('Mumbai', 6),
 ('Mumbai', 6),
 ('Chembur', 7),
 ('New Delhi', 9),
 ('Kormangala', 10),
 ('Gurgaon', 7),
 ('Singapore', 9),
 ('New Delhi', 9),
 ('Taramani', 8),
 ('Bengaluru', 9),
 ('Haryana', 7),
 ('Karnataka', 9),
 ('Nairobi', 7),
 ('New Delhi', 9),
 ('Bengaluru', 9),
 ('New York', 8),
 ('Bengaluru', 9),
 ('New Delhi', 9),
 ('New Delhi', 9),
 ('Hyderabad', 9),
 ('Mumbai/Bengaluru', 16),
 ('Gurgaon', 7),
 ('Bengaluru', 9),
 ('Bengaluru', 9),
 ('New Delhi', 9),
 ('Bengaluru', 9),
 ('Bengaluru', 9),
 ('Mumbai', 6),
 ('Bengaluru', 9),
 ('Bengaluru', 9),
 ('Delhi', 5),
 ('Hyderabad', 9),
 ('Bengaluru', 9),
 ('Bengaluru and Gurugram', 22),
 ('Bengaluru', 9),
 ('Gurugram', 8),
 ('Bengaluru', 9),
 ('Bengaluru', 9),
 ('New Delhi', 9),
 ('Bengaluru', 9),
 ('Gurugram', 8),
 ('Bengaluru', 9),
 ('Mumbai', 6),
 ('Bhopal', 6),
 ('Mumbai', 6),
 ('Mumbai', 6),
 ('Bengaluru', 9),
 ('New Delhi', 9),
 ('India/Singapore', 15),
 ('Gurgaon', 7),
 ('India/US', 8),
 ('Chennai', 7),
 ('Jaipur', 6)]

In [28]:
%%sql
--19. Write SQL query to convert start_ups names into uppercase if the funding amount is >380,000
SELECT
    UPPER(Startup_Name) AS Startup_Name
FROM indian_startup_funding
WHERE Amount_in_USD > 380000;

 * sqlite:///SQLiteExercise.db
Done.

[('LENSKART.COM',),
 ('HEALTHIANS',),
 ('LICIOUS',),
 ('INCRED',),
 ('TRELL',),
 ('RIVIGO',),
 ('ECOZEN',),
 ('REIN GAMES',),
 ('CARDEKHO',),
 ('DHRUVA SPACE',),
 ('PAYTM',),
 ('AYE FINANCE',),
 ('CLUMIO',),
 ('DIGITAL MALL ASIA',),
 ('FURTADOS SCHOOL OF MUSIC',),
 ('HEALTHIANS',),
 ('MEDIKABAZAAR',),
 ('NINJACART',),
 ('VOGO AUTOMOTIVE',),
 ('MISTERS',),
 ('FRESHWORKS',),
 ('SUNSTONE EDUVERSITY PVT. LTD',),
 ('SUPERGAMING',),
 ('DUNZO',),
 ('UDAAN',),
 ('FPL TECHNOLOGIES',),
 ('CASHFLO',),
 ('DIGITAL F5',),
 ('3RDFLIX',),
 ('75F',),
 ('MYELIN FOUNDRY',),
 ('ATOMBERG TECHNOLOGY',),
 ('GOQII',),
 ('VYAPAR APP',),
 ('RAPIDO BIKE TAXI',),
 ('ZENDRIVE',),
 ('LO! FOODS',),
 ('TALA',),
 ('ADMITKARD',),
 ('INDWEALTH',),
 ('HUNGERBOX',),
 ('GROFERS',),
 ('CARS24',),
 ('UNIPHORE',),
 ('MEESHO',),
 ('CARDEKHO',),
 ('PROGCAP',),
 ('MYPETROLPUMP',),
 ('ALTERIA CAPITAL',),
 ('PINE LABS',),
 ('MOGLIX',),
 ('"""BYJU\\\\\'S"""',),
 ('EZYHAUL',),
 ('INDUS OS',),
 ('HEALTHASSURE',),
 ('HOUSE OF MSASABA',),
 ('DAALCHINI TECHNOLOGIES',),
 ('OLA CABS',),
 ('RENEWBUY',),
 ('ATLAN',),
 ('UNIPHORE',),
 ('BOLO APP',),
 ('OKCREDIT',),
 ('VOGO AUTOMOTIVE PVT. LTD.',),
 ('SISTEMA.BIO',),
 ('CHAKR INNOVATION',),
 ('PRATILIPI',),
 ('BIZ2CREDIT',),
 ('NOBROKER',),
 ('BIRA91',),
 ('BHARATPE',),
 ('RECYKAL',),
 ('LEEGALITY',),
 ('FABHOTELS',),
 ('AVAIL FINANCE',),
 ('AGARA LABS',),
 ('BIRA91',),
 ('GLOWROAD',),
 ('ATHER ENERGY',),
 ('FRESHVNF',),
 ('SAAHAS ZERO WASTE',),
 ('ZENOTI',),
 ('BLACKBUCK',),
 ('MY HEALTHCARE',),
 ('KRAZYBEE',),
 ('SHUTTL',),
 ('INCREFF',),
 ('KUVERA',),
 ('TRIPOTO',),
 ('MEDLIFE',),
 ('SETU',),
 ('CLEVERTAP',),
 ('KABADIWALA',),
 ('TOPPR',),
 ('CRAFTSVILLA',),
 ('NANOCLEAN GLOBAL',),
 ('ZILINGO',),
 ('VYOME THERAPEUTICS INC.',),
 ('SAMUNNATI FINANCIAL INTERMEDIATION & SERVICES PVT. LTD',),
 ('CARDEKHO',)]

In [29]:
%%sql
--20. Write SQL query to select distinct industry vertical names, knowing that names are mix of lowercase and uppercase values
SELECT DISTINCT
    UPPER(Industry_Vertical) AS Industry_Vertical
FROM indian_startup_funding;

 * sqlite:///SQLiteExercise.db
Done.

[('E-COMMERCE',),
 ('B2B-FOCUSED FOODTECH STARTUP',),
 ('FINANCE',),
 ('VIDEO',),
 ('TECHNOLOGY',),
 ('GAMING',),
 ('AEROSPACE',),
 ('FINTECH',),
 ('SAAS',),
 ('EDUCATION',),
 ('HEALTH AND WELLNESS',),
 ('HEALTHCARE',),
 ('FOOD AND BEVERAGE',),
 ('B2B MARKETING',),
 ('LAST MILE TRANSPORTATION',),
 ('SOFTWARE',),
 ('VIDEO GAMES',),
 ('CONSUMER GOODS',),
 ('CUSTOMER SERVICE',),
 ('B2B',),
 ('"ADVERTISING, MARKETING"',),
 ('IOT',),
 ('INFORMATION TECHNOLOGY',),
 ('CONSUMER TECHNOLOGY',),
 ('ACCOUNTING',),
 ('TRANSPORTATION',),
 ('AUTOMOTIVE',),
 ('EDTECH',),
 ('SERVICES',),
 ('CUSTOMER SERVICE PLATFORM',),
 ('RETAIL',),
 ('TECH',),
 ('HEALTH CARE',),
 ('LUXURY LABEL',),
 ('TRANSPORT',),
 ('COMPLIANCE',),
 ('ARTIFICIAL INTELLIGENCE',),
 ('DIGITAL MEDIA',),
 ('AGRICULTURE',),
 ('ENERGY',),
 ('WASTE MANAGEMENT SERVICE',),
 ('DEEP-TECH',),
 ('AUTOMOBILE',),
 ('AGTECH',),
 ('SOCIAL MEDIA',),
 ('NANOTECHNOLOGY',),
 ('ECOMMERCE',),
 ('AI',)]